.App {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
}
*{
  color: rgb(255, 255, 255);
  margin: 0px;
}
.blur{
  position: fixed;
  width: 500px;
  height: auto;
  backdrop-filter: blur(4px);
  border-radius: 50px;
  left: 50%;
  top: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  padding: 20px;
}
.search{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.lup{
  width: 100%;
}
.searchButton{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: none;
  background-color: rgba(12, 12, 12, 0.438);
  padding: 10px;
  transition: 0.3s;
  font-size: 15px;
  font-weight: 700;
}
.searchButton:hover{
  background-color: rgba(12, 12, 12, 0.815);
  cursor: pointer;
}
.searchWrite{
  width: 50%;
  border-radius: 20px;
  border: none;
  background-color: rgba(12, 12, 12, 0.438);
  color: rgb(255, 255, 255);
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
}
.searchWrite:focus{
  outline: none !important;
}
.results{
  margin-top: 25px;
  margin-left: 7px;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-between;
}
.weather{
  font-size: 18px;
  font-weight: 100;
  margin-top: 2px;
}
.imgWeather{
    vertical-align:middle;
    margin-bottom: 2px;
    margin-right: 10px;
}
.weather2{
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 10px;
}
.buttons{
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
@media only screen and (max-width: 530px) {
  .blur{
    width: 90vw;
  }
  .searchButton{
    margin-bottom: 5px;
  }
}