.App {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.blur{
  position: fixed;
  width: 500px;
  height: 400px;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.568);
  border-radius: 50px;
  left: 50%;
  top: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  padding: 20px;
}